{% extends "base.html" %}
{% load static %}
{% block title %}Landlords{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/landlords.css' %}">
{% endblock %}
{% block content %}
<h1>Landlords</h1>
<a class="btn" href="{% url 'landlord-add' %}">+ New Landlord</a>
<ul class="entity-list">
  {% for landlord in landlords %}
    <li>
      <a href="{% url 'landlord-detail' landlord.pk %}">{{ landlord.name }}</a>
      <small>{{ landlord.email }}</small>
    </li>
  {% empty %}
    <li><em>No landlords found.</em></li>
  {% endfor %}
</ul>
{% endblock %}
